@model src.Models.Fornecedor

@{
    ViewData["Title"] = "Adicionar Fornecedor Estoque Pro";
}

<form asp-controller="Fornecedor" asp-action="EditarPerfil" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input id="nome" type="text" asp-for="Nome" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input id="email" type="text" asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input id="telefone" type="text" asp-for="Telefone" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="rua" class="form-label">Rua</label>
        <input id="rua" type="text" asp-for="EnderecoRua" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="endereco_nmr" class="form-label">Número</label>
        <input id="endereco_nmr" type="text" asp-for="EnderecoNumero" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="cep" class="form-label">CEP</label>
        <input id="cep" type="text" asp-for="EnderecoCEP" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="uf" class="form-label">UF</label>
        <input id="uf" type="text" asp-for="EnderecoUF" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
